:root {
  --theme: rgb(4, 22, 88);
  --warning: red;
  --success: rgb(4, 163, 4);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 450px;
  width: 550px;
  box-shadow: 0 2px 4px rgba(12, 5, 5, 0.3), 0 4px 8px var(--theme);
}

.form-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 550px;
  width: 550px;
  box-shadow: 0 2px 4px rgba(12, 5, 5, 0.3), 0 4px 8px var(--theme);
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Add the following styles to your existing CSS */
.input-container {
  position: relative;
  margin-bottom: 15px;
}

.icon {
  position: absolute;
  top: 50%;
  /* left: 10px; */
  color: var(--theme);
  transform: translateY(-50%);
  pointer-events: none;
}

/* styles.css */
.icon-right {
  position: absolute;
  top: 50%; /* Position the icon vertically at the center of the input */
  right: 4px; /* Adjust the right distance from the input */
  transform: translateY(-50%); /* Center the icon vertically using translateY */
  cursor: pointer; /* Add a pointer cursor to indicate the icon is clickable */
}

input,
select {
  width: 350px;
  padding: 0.5rem 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  border: none;
  background-color: white;
  border-radius: 0;
  outline: none;
  border-bottom: 2px solid var(--theme);
}

input:focus,
select:focus {
  border-color: var(--success);
}

input::placeholder,
select::placeholder {
  color: #87919e;
}

input.input-error,
select.input-error {
  border-color: #fc8181;
}

button:disabled {
  opacity: 0.35;
}

.error {
  color: #f12a2a;
  width: 350px;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: left;
  margin-top: -0.93rem;
}

/* button component */
.button {
  margin-top: 30px;
  background: var(--theme);
  color: white;
  padding: 0.6rem 1.2rem;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* border: 2px solid #4a5568; */
  border-radius: 8px;
  cursor: pointer;
  border: 0px;
}

.button:hover {
  background: rgb(0, 127, 185);
  color: #fff;
}

.header {
  margin-bottom: 15px;
  color: var(--theme);
  text-decoration: underline;
}

.header-text {
  margin-bottom: 10px;
}

.link {
  color: var(--success);
  font-weight: bold;
}

.form-info {
  margin: 2px;
}

.logo {
  height: 40px;
  width: auto;
}