.create-post-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  background: #f5f6f7;
}

.create-post-card {
  width: 520px;
  height: 560px;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.create-post-header {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-weight: 600;
  position: relative;
}

.share-btn {
  position: absolute;
  right: 14px;
  top: 10px;
  background: none;
  border: none;
  color: #0095f6;
  font-weight: 600;
  cursor: pointer;
}

.create-post-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-icon {
  font-size: 48px;
  margin-bottom: 20px;
}

.upload-text {
  font-size: 18px;
  margin-bottom: 20px;
}

.select-btn {
  background: #0095f6;
  color: #fff;
  padding: 9px 18px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.post-editor-vertical {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.caption-top {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.caption-top textarea {
  width: 100%;
  height: 60px;
  border: none;
  resize: none;
  outline: none;
  font-size: 14px;
}

.image-bottom {
  flex: 1;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;

  max-height: 420px;
  min-height: 420px;
}

.image-bottom img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;

  width: auto;
  height: auto;
}

.remove-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0,0,0,0.6);
  color: #fff;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  z-index: 5;
}

.image-bottom {
  position: relative;
}
